@import "./variables"

body
    margin: 0
    background: $background
    color: $color

h1, h2, h3, p
    margin: 0
    color: var(--text-color);
    font-size: var(--font-size);

input
    background: none
    border: none
    outline: none
    font-family: inherit
    color: inherit


// for debug
*
    outline: 1px solid pink