:root
    --background-color: #283044

    --text-color: #DFDFDF
    //--highlight-color: #53FCAB
    --highlight-color: #f0ebd8
    --stress-color: #00a6ff

    --error-color: #fa4646
    --success-color: #98CE00

    --mobile: 960px
