$background = linear-gradient(100deg, rgba(33,37,41,1) 0%, rgba(17,29,46,1) 74%, rgba(35,57,87,1) 100%)
$color: white

:root
    --background: $background
    --text-color: $color
    --font-size: 12px