#app {
  display:grid;
  grid-template-columns: 3fr 2fr;
  /* remplacer par un ciel fait main*/
  background: url(./textures/sky.jpg);
  height:100vh;
  width:100vw;
  color:white;
}

canvas {
  width: 100%;
  height:100%;
}

.chronicles {
  display:flex;
  flex-wrap:wrap;
  gap: 2rem;
  align-items:baseline;
  padding:2rem;
}


canvas:hover{
  cursor:grab;
}