$hightlight-orange: #ff9f1cff
$basic-blue: #99bad6
$dark-text: #524948ff
$clear-text: rgb(138, 124, 123)
$ivory-background: #f5fbefff
$title-salmon: #f87666

@mixin regular
    font-family: 'Montserrat', monospace
  
@mixin titles
    font-family: 'Righteous', cursive
  

body
  margin: 0
  font-size: 15px
  background: url(./textures/stars.jpg)
  background-size: cover
  background-repeat: no-repeat
  @include regular


header
  display: flex
  flex-direction: column
  text-align: center
  color: $basic-blue


  
  


 
  



      